.content{padding: 0 15px;}
[dropzone]{padding: 4px; border: 2px dotted pink;}

.navigator-view{overflow:scroll;}
.NavBarMain .navbar-nav {
	opacity: 0.7;
}

.chart {
	display: block;
	width: 400px;
	height: 500px;
}